*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #F1F1F3;
}

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin: 31px 160px;
    align-items: center;
  }
  .btn-primary{
   
    padding: 15px 30px;
    border-radius: 8px;
    
    font-size: 16px;
    font-weight: 600;
    border-color:#006A50 ;
    color:#006A50
    
  }
  
  
 .btn-primary:hover{
  background-color:#006A50 ;
  border:none;
  color: white;
  
 }
  .banner{
    display: flex;
    height: 360px;
    border-radius: 24px;
    background-color: #c6e4d6;
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
    align-items: center;
    padding-left: 50px;
    justify-content: space-between;
   
  }
  .banner img{
    width: 300px;
    height:250px ;
    padding-right: 30px;
    

  }
  .banner-title{
    font-weight: 800;
    width: 300px;
    font-size: 35px;
  }
  .banner-content{
    width: 400px;
  }
  .banner-sub{
    font-size: 26px;
  }
  .btn-secondary{
    background-color: #006A50;
    color: white;
    border:none;
    border-radius: 8px;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 16px;
  }
  .btn-secondary:hover{
   
    color: #006A50;
    border:1px solid #006A50;
    border-radius: 8px;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 16px;
    background-color: white;
    
  }
  .banner-content a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size:10px;
    
  }
  .piller{
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
  }
  .ind-piller{
    display: flex;
    justify-content: space-around;
    gap: 20px;

  }
  .ind-piller h4{
    margin-top:10px;
  }
  .ind-piller img{
    height: 30px;
    width: 30px;
    
  }
  .ind-piller p{
    padding-top:10px;
    font-size: 12px;
    color: black;
    font-weight: 200;
  }


  .piller1{
    background-color: white;
    border-radius: 16px;
    margin-top:20px;
    
    padding: 10px;
  }
  .piller2{
    background-color: white;
    border-radius: 16px;
    margin-top:20px;
    padding: 10px;
  }
  .piller3{
    background-color: white;
    border-radius: 16px;
    margin-top:20px;
    padding: 10px;
  }
  .piller4{
    background-color: white;
    border-radius: 16px;
    margin-top:20px;
    padding: 10px;
  }
  .vision{
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
  }
  .vision-ind{
    display: flex;
    justify-content: space-around;
    gap: 20px;

  }
  .vision-ind img{
    height: 30px;
    width: 30px;
    
  }
  .vision-ind1{
    background-color: #d5e1f5;
    border-radius: 16px;
    margin-top:20px;
    height: auto;
    width: 400px;
    padding: 10px;
  }
  .vision-ind2{
    background-color: #c6e4d6;
    border-radius: 16px;
    margin-top:20px;
    padding: 10px;
    height: auto;
    width: 400px;
  }
  .vision-ind3{
    background-color: #f7ebcf;
    border-radius: 16px;
    margin-top:20px;
    padding: 10px;
    height: auto;
    width: 400px;
  }
  .btn-1{
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border:none ;
    font-size: 12px;
    font-weight: 600;
    background-color: #5490f5;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  .btn-1:hover{
    background-color: white;
    color: #5490f5;
    border: 1px solid #5490f5;
  }
  .btn-2{
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border:none ;
    font-size: 12px;
    font-weight: 600;
    background-color: #09a15c;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  .btn-2:hover{
    background-color: white;
    color: #09a15c;
    border: 1px solid #09a15c;
  }
  .btn-3{
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border:none ;
    font-size: 12px;
    font-weight: 600;
    background-color: #ffc239;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  .btn-3:hover{
    background-color: white;
    color: #ffc239;
    border: 1px solid #ffc239;
  }
  
  .vision p{
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    color: black;
  }
  .vision h4{
    margin-top: 10px;
  }
  .quote{
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
    background-image:url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-color: white;
    height: 180px;
    background-position: 15px 10px;
    border-radius: 14px;

  }
  .quote p{
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 200;
  }
  .quote h5{
    
    padding-top: 10px;
    padding-left: 15px;
    

  }
  .quote-content{
    padding-top: 40px;
   
  }
  .opiniomatter{
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
}
  .opiniontable{
    background-color: white;
    height: auto;
    width: auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 14px;
    

  }
  .opiniontable table{
    width:100%
  }
  table,th,td{
    border:1px solid gray;
    border-collapse: collapse;
  }
  .t1{
    font-size: 14px;
    padding: 20px;
  }
  .opique{
    font-size: 12px;
    padding:15px;
    font-weight: bold;
    
  }
  th{
    background-color: #c6e4d6;
  }
  .tt1{
    display: flex;
    justify-content: space-between;
  }
  .btn-4{
    background-color: #c6e4d6;
    margin: 15px 5px 15px 60px;
    padding: 20px;
    border-color: rgb(221, 219, 219);
    border-radius: 5px;
    border:1px solid black;
    font-weight: bold;
    
  }
  .tbtn{
    display: flex;
  }
  .newscard1{
    display: flex;
    background-color: white;
    border-radius: 14px;
    padding: 20px;
    margin-top: 20px;
    height: 185px;
    
  }

  .recentnews{
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
  
    

  }
 
  .recentnews h2{
    padding-bottom: 10px;
  }
  .recentnews p{
    font-size: 12px;
    color: black;
    font-weight: 200;
  }
  .satimg{
    border-radius:14px;
  }
  .newscontent .iccon img{
    height: 20px;
    width: 60px;
  }
  .datetime{
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 200;
  }
  .newscontent{
    padding-left: 20px;
   display: flex;
   flex-direction: column;
   gap: 7px;
   height: 165px;
  }
  .newscontent .iccon img{
    height: 25px
  }
  .btn-secondary-1{
    background-color: #006A50;
    color: white;
    border:none;
    border-radius: 8px;
    padding: 10px 30px;
    width: 130px;
    margin-top: 10px;

  }
  .btn-secondary-1:hover{
    background-color: white;
    color: #006A50;
    border:1px solid #006A50;
    border-radius: 8px;
    padding: 10px 30px;
    width: 130px;
    margin-top: 10px;

  }
  .donatetoday{
    margin-right: 160px;
    margin-bottom: 20px;
    margin-left: 160px;
    text-align: center;
  }
.donatetoday p {
  font-size: 12px;
  color: black;
  font-weight: 200;
}
.amount{
  display: flex;
    justify-content: space-around;
    gap: 20px;
}
.amount h2{
  padding: 10px;
}
.amount1{
  
  background-color: white;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
   
  
}
.amount1:hover{
  
  background-color: #c6e4d6;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
 

}
.amount2{
  background-color: #c6e4d6;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
  text-align: center;
}
.amount3:hover{
  
  background-color: #c6e4d6;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
 

}
.amount3{
  background-color: white;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
}
.amount4:hover{
  
  background-color: #c6e4d6;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
 

}
.amount4{
  background-color: white;
  border-radius: 16px;
  margin-top:20px;
  width: 230px;
  height: 80px;
  padding: 10px;
}
.otheramount{
  background-color: white;
  color:gray;
  border: none;
  margin-top: 20px;
  text-align: center;
  width:860px;
  height: 60px;
  
}
.newslatter{
  margin-right: 160px;
    margin-bottom: 20px;
    margin-left: 160px;
    text-align: center;
    background-color: #c6e4d6;
    padding: 50px 30px;
    border-radius: 14px;

    
}
.newslattercontent{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap:10px
 

}
.search{
 display: flex;
}
.amountform{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inp-email{
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  color:gray;
  border: none;
 margin-top: 20px;
  text-align: center;
  width:300px;
  height: 30px;
  text-align: left;
  padding-left: 15px;
  font-size: 12px;
  color:gray;
  border:none;
}
.newsheadline .search{
  display: flex;
}
.btn-email{
  background-color: #006A50;
    color: white;
    border:none;
    border-radius: 0px 8px 8px 0px;
    height: 30px;
    padding: 0px 10px;
    margin-top: 20px;

}
.newslatter p{
  font-size: 12px;
  color: black;
  font-weight: 200;
}
.icon{
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 15px;
  
}
.hr{
  height: 1px;
  opacity: 50%;
  background-color: #d5e1f5;
}
.icon img {
  height: 15px;
  width: 15px;
}
.footercontent{
  margin-right: 160px;
    margin-bottom: 20px;
    margin-left: 160px;
    text-align: center;
    padding-top: 20px;


}
.footercontent h4{
  padding-bottom: 20px;
}
footer{
  background-color: white;
  height: 150px;
  padding: 20px;

}
 